#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Instllation mode
text
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw PASSWORD
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# SELinux
selinux --disabled
# System services
services --enabled="chronyd"
services --disabled="firewalld"
# System timezone
timezone Asia/Tokyo --isUtc --ntpservers=216.239.35.12,216.239.35.8
user --groups=wheel --name=user --password=PASSWORD --gecos="user"
# Disk partitioning information
autopart --fstype=xfs --nohome --nolvm

%packages
@^minimal-environment
bash-completion
bind-utils
git
lsof
tcpdump
tmux
tree
unzip
vim-enhanced
wget
zip
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post-anaconda.log
set -x
dnf -y update
dnf clean all
%end

# Reboot
reboot --eject
